body {
   background-image: url(../images/wild_flowers.png);
   color: #c4c4c4;
   font-size: 1.2rem;
   line-height: 1.45;
   display: flex;
   flex-wrap: wrap;
   
}

/* Flower Docking Position - Header-like */

#flower-wars {
   color: green;
   margin-left: 60px;
   border: 2px solid black;
   padding: 3px;
}

.poisonous {
   float: right; 
   margin: 0px 0px 35px 35px;
}

img {
   border-radius: 50%;
   height: 125px;
   width: 125px;
}

.name {
   text-align: center;
}


/* CSS Mosaic Placement Divs for War Games */

.container-1 {
   background: 4f4f4f;
   min-width: 300px;
   padding: 1em 1em .1em 1em;
   
}

/* INSTRUCTIONS & RESET BUTTON */

.instructions {
   margin-left: 60px;
   background-color: lightgray;
   padding: 10px;
   position: relative;
}

button {
   font-size: 20px; 
   font-family: sans-serif;
}

.restart {
   position: absolute;
   right: 25px;
}

p {
   line-height: 8px;
}


/* CSS Grid */

.container {
   padding: 30px 15px;
   flex: 1 1 80%;
   min-height: 100vh;
}

.item-1 { grid-area: poison-1; }
.item-2 { grid-area: player; }
.item-3 { grid-area: poison-2; }
.item-4 { grid-area: attack; }
.item-5 { grid-area: opponent; }
.item-6 { grid-area: poison-3; }
.item-7 { grid-area: spacer; }
.item-8 { grid-area: virtal-text; }

.grid-container {
   display: grid;
   grid-template-areas:
      'poison-1 poison-1 spacer player player'
      'poison-1 poison-1 spacer player player'
      'poison-2 poison-2 attack player player'
      'poison-2 poison-2 virtual-text opponent opponent'
      'poison-3 poison-3 virtual-text opponent opponent'
      'poison-3 poison-3 virtual-text opponent opponent';

   grid-template-rows: repeat(6, 1fr);
   grid-template-columns: repeat(5, 1fr);
   
   grid-gap: 20px;
   height: 550px;
}

.battlefield {
   background: #f96855;
   color: #353535;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;
}


.poison-0 {
   grid-row: span 2;
   grid-column: span 2;
   position: relative;
}
      #poison-0 { 
         position: absolute;
         text-align: center;
         object-fit: cover;
         width: 100%;
         max-height: 100%;
      }


.poison-1 {
   grid-row: span 2;
   grid-column: span 2;
   position: relative;
}
      #poison-1 {
         position: absolute;
         text-align: center;
         object-fit: cover;
         width: 100%;
         max-height: 100%;
      }


.poison-2 {
   grid-row: span 2;
   grid-column: span 2;
   position: relative;
}
      #poison-2 {
         position: absolute;
         text-align: center;
         object-fit: cover;
         width: 100%;
         max-height: 100%;
      }


.opponent {
   grid-row: span 3;
   grid-column: 4 / span 2;
}

.player {
   grid-row: span 3;
   grid-column: 4 / span 2;
}

.virtual-text {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 4;
   grid-row-end: 7;
}
 
.spacer {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
}

